@model   Dictionary<string, object>
@{
    BlogUsersSet user = ((BlogUsersSet)Model[Constant.blogUser]);
    BlogUsersSet sessionuser = (BlogUsersSet)Model[Constant.SessionUser];
    var total = (int)Model["total"];
    ViewBag.Title = user.UserName;
    ViewBag.Keywords = user.UserNickname;
    ViewBag.Description = user.UserNickname;
}

@*用户博客简介列表*@
<style></style>
@*<link href="~/Content/blogs/default/UserBlogListCSS.css" rel="stylesheet" />*@
@if (Model.Keys.Contains("blogList"))
{
    if (total > 1)
    {
        <div class="divPageNum">
            <a class="a_total">共<span class="span_total">@(total)</span>页</a>  <a>第<span class="span_pageindex"></span>页</a>
            <a href="javascript:void()" onclick="last()">上一页</a>
            <a href="javascript:void()" onclick="next()">下一页</a>
        </div>
    }
    var list = (List<Blogs>)Model["blogList"];
    foreach (var blog in list)
    {
        int con_length = blog.BlogContent.Length > 300 ? 300 : blog.BlogContent.Length;
        //标题
        <a href="~/@(user.UserName)/@(blog.Id).html">@blog.BlogTitle</a>
        <br />
        <div class="blogpro_list">
            @Html.Raw(blog.BlogContent.Substring(0, con_length))...
            @*<div style="text-align: right; margin-top: 5px; ">
                    <a>@(blog.BlogCreateTime) 阅读()</a>
                </div>*@

            <div class="divRedNum">
                <span>@(user.UserNickname ?? user.UserName)</span>
                <span>@(blog.BlogCreateTime) </span>
                <span>阅读(@blog.BlogReadNum)</span>
                <span>评论(@blog.BlogCommentNum)</span>
                @if (sessionuser != null && user.Id == sessionuser.Id)//如果是当前用户
                {
                    <a class="" href="/Admin/Release/@blog.Id">编辑</a>
                }
                else
                {
                    <a class="" href="/Admin/Release/">编辑</a>
                }

            </div>
        </div>
    }
    if (total > 1)
    {
        <div class="divPageNum">
            <a class="a_total">共<span class="span_total">@(total)</span>页</a>  <a>第<span class="span_pageindex"></span>页</a>
            <a href="javascript:void()" onclick="last()">上一页</a>
            <a href="javascript:void()" onclick="next()">下一页</a>
        </div>
    }
}

<script type="text/javascript">
    $(function () {
        var index = getPageIndex();
        index = index.toString() == "NaN" ? "1" : index;
        $(".span_pageindex").html(index);
    });
    function next() {
        //NaN  代表当前在首页
        if (getPageIndex().toString() == "NaN" && getTotal() >= 2) {
            location.href = location.href + "/UserBlogList" + "/2.html";
            return;
        }

        var href = location.href;
        var pageindex = getPageIndex() + 1;

        //如果当前页码大于总页码
        if (pageindex > getTotal()) {
            return false;
        }

        location.href = href.substring(0, href.lastIndexOf('/') + 1) + pageindex + ".html";
    }

    function last() {
        //NaN  代表当前在首页
        if (getPageIndex().toString() == "NaN") {
            return;
        }

        var href = location.href;
        var pageindex = getPageIndex();
        --pageindex;

        //如果当前页码小于等于 0
        if (pageindex <= 0) {
            return false;
        }

        location.href = href.substring(0, href.lastIndexOf('/') + 1) + pageindex + ".html";
    }

    //当前页码
    function getPageIndex() {
        var href = location.href;
        var pageIndex = href.substring(href.lastIndexOf('/') + 1, href.lastIndexOf('.'));
        return parseInt(pageIndex);
    }
    //总页码
    function getTotal() {
        return parseInt($(".span_total").html());
    }
</script>
